.box{
    
    width: 300px;
    height: 300px;
    margin: 150px;
    background-color: #fff;
    animation-name: change-color;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}

@keyframes change-color {
    from{
        background-color: #fff;
    }
    50%{
        background-color: #223afc;
        scale: 1.5;
        
        border-radius: 50%;
        transform: translateX(200px);
    }
    to{
        border-radius: 50%;
        background-color: #54caef;
        transform: translateX(-200px);

    }
}
body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}